body{
    background-color: palevioletred;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25vh;
}

h1{
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-align: center;
    margin-top: 20vh;
}

.calc{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

#try_me{
    width: 15vw;
    margin: 15px;
}

input{
    background-color: black;
    border: none;
    border-radius: 20px;
    height: 5vh;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

select{
    color: white;
    background: black;
    border: none;
    height: 5vh;
    width: 5vw;
    border-radius: 20px;
    text-align: center;
}