body {
    padding-top: 80px; /* Para não sobrepor o conteúdo à barra de navegação fixa */
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #333;
}

section {
    margin-bottom: 40px;
}

#parte1 img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}
