body{
    background-color: palevioletred;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh;
}

h1{
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    margin-top: 20vh;
}

#ft_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    text-align: center;
}

.nova_tarefa, #btn_tarefa{
    background-color: black;
    border: none;
    margin: 15px;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nova_tarefa:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}

#btn_tarefa{
    margin: 10vh;
}