body{
    background-color: orange;
    margin: 0%;
}

.barra_menu{
    background-color: lightgoldenrodyellow ;
    height: 3vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 5px 30px;
    font-size: 20px;
    font-family: monospace;
    border-bottom: solid 2px orangered;
}

a:link {
    text-decoration: none;
    color: orangered;
}

a:hover {
    text-decoration: underline 2px;
}

.drop_itens{
    position: absolute;
    display: none;
}

.drop_itens a{
    display:block;
    font-size: 20px;
    padding: 7px;
}

.drop:hover .drop_itens{
    display: block;
}





