body{
    background-color: pink;
    text-align: center;
    padding: 50vh;
}

button{
    border: solid black 1px;
    border-radius: 20px;
    width: 10vw;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 7px;
    background-color: lightgoldenrodyellow;
}