body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.parallax{
    background-image: url(./cat.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    text-align: center;
}
.parallax2{
    background-image: url(./abyssinian.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    text-align: center;
}

.aby{
    height: 300px;
    background-color: black;
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}