body{
    background-color: pink;
    display: flex;
    justify-content: center;
} */

.tabela{
    border: solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

th{
    border: solid 1px;
    padding: 3px;
}

.celula1{
    background-color: aqua;
}

.celula2{
    background-color: greenyellow;
} */

.responsividade{
    overflow-x: auto;
}

@media screen and (max-width: 2000px) {
    .tabela {
        width: 95vw;
        height: 95vh;
    }
}
