body{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline 2px;
}

table{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 1rem;
    border: gray solid 1px;
    border-radius: 20px;
    width: 20.5%;
    margin: 0%;
    /* border-collapse: collapse; */

}

.img{
    width: 20vw;
    border-radius: 20px;
}

table tr td{
    text-align: center;
    padding-bottom: 5px;
    margin: 0%;
}

table tr{
    margin: 0%;
    padding: 0;
}

button{
    width: 20vw;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: none;
}

.imagens img{
    width: 2.5vw;
}

#botao{
    padding-bottom: 3px;
}