body{
    background-color: pink;
    text-align: center;
}

h1{
    color: white;
}

.imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid black;
    padding-bottom: 100px;
}

footer{
    text-align: right;
    font-style: italic;
    font-family: monospace;
    font-size: 15px;
}