body{
    display: flex;
    justify-content: center;
    padding: 50vh;
    
}

#balao {
    height: 200px;
    width: 200px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}