body{
    background-color: pink;
    display: flex;
    justify-content: center;
    margin: 0%;
}

.tabela{
    border: solid black;
    border-radius: 5px;
    margin: 0%;
}

th{
    border: solid 1px;
    padding: 3px;
}

.celula1{
    background-color: aqua;
}

.celula2{
    background-color: greenyellow;
}

.responsividade{
    overflow-x: auto;
}

@media screen and (max-width: 2000px) {
    .tabela {
        width: 100vw;
        height: 100vh;
    }
}


